<section class="py-3 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">FizzBuzz String</h1>
        <p class="lead text-muted">Let's check FizzBuzz String in order to cheat Einstein ;D</p>
        <small>Although we are in the 1920s and there is no internet, but whatever...</small>
      </div>
    </div>
</section>
<section class="py-3 text-center container">
    <div class="row pt-lg-3 pb-1">
      <div class="col-lg-6 col-md-8 mx-auto">
        <fizz-buzz-form></fizz-buzz-form>
      </div>
    </div>
</section>
<section class="py-1 text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <fizz-buzz-result></fizz-buzz-result>
      </div>
    </div>
</section>

